/*Navbar horizontal styling*/

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: right;
	display: inline;
	border-bottom: 1px solid green;
}

li:last-child {
	border-bottom: none;
}

li a {
	display: inline;
	color: gray;
	text-decoration: none;
	padding: 10px;
}

.active_background {
	background-color: green;
}

.active_link {
	color: white;
}

